{% load static %}


<footer class="footer ftco-section ftco-no-pt">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget py-4 py-md-5">
            <h2 class="logo"><a href="#">WELCOME TO ARABIC CHEMESTRY CENTER</a></h2>
            <div class="text-right"> 

              <h2 class="mb-4">متخصصون في العزل الاشعاعي وتجهيز غرف الاشعه باحدث الطرق التقنية </h2>
            <ul class="text-right list-inline">
              <li>رصاص عازل للاشعه بنسبة نقاء %99.9</li>
              <li>الواح x ray العازلة للاشعة بمكافئ 2مم من الرصاص مزوده بتشطيب رخامي</li>
              <li>بياض محاره عازل للاشعة السينية بمكافئ 2مم من الرصاص</li>
              <li>برفان مرصص مزود بنافذه من الزجاج المرصص</li>
              <li>زجاج مرصص بمكافئ 2مم من الرصاص بجميع المقاسات</li>
              <li>مريله مرصصه بمكافئ 0.5 مم من الرصاص</li>
              <li>واقي عنق مرصص</li>
              <li>اعمال تشطيبات كامله لغرف الاشعه والعمليات حوائط وارضيات   واسقف</li>
            </ul>
          </div>

          <p>
    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-4">
    
            </ul>
          </div>
        </div>
   
        <div class="col-md-6 col-lg">
          <div class="ftco-footer-widget py-4 py-md-5">
              <h2 class="ftco-heading-2">Contact information</h2>
              <div class="block-23 mb-3">
                <ul>
                  <li><span class="icon fa fa-map-marker"></span><span class="text">ش11 عبد الرحمن رشدى - سانت فاتيما - هليوبوليس</span></li>
                  <li><a href="tel: 01068300030"><span class="icon fa fa-phone"></span><span class="text">(+20)01068300030</span></a></li>
                  <li><a href="tel: 01092224009"><span class="icon fa fa-phone"></span><span class="text">(+20)01092224009</span></a></li>
                  <li><a href="tel: 01092224100"><span class="icon fa fa-phone"></span><span class="text">(+20)01092224100</span></a></li>
                  <li><a href="mailto: drkhallaf@link.net"><span class="icon fa fa-paper-plane"></span><span class="text">drkhallaf@link.net</span></a></li>
                </ul>
              </div>
          </div>
        </div>
        <div class="col-md-6 col-lg">
           <div class="ftco-footer-widget bg-primary p-4 py-5">
            <h2 class="ftco-heading-2">Business Hours</h2>
            <div class="opening-hours">
                <h4>Opening Days:</h4>
                <p class="pl-3">
                  <span><strong>Sunday – Thursday:</strong> 8:30am to 3 pm</span>
                </p>
                <h4>Vacations:</h4>
                <p class="pl-3">
                  <span>Friday and Saturday </span>
                  <span>All Official Holidays</span>
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
  
      </div>
    </div>
  </footer>
  


<!-- loader -->
<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

<!--   Core JS Files   -->
<script src="{% static 'assets/js/core/popper.min.js' %}"></script>
<script src="{% static 'assets/js/core/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/smooth-scrollbar.min.js' %}"></script>
<script>
  var win = navigator.platform.indexOf('Win') > -1;
  if (win && document.querySelector('#sidenav-scrollbar')) {
    var options = {
      damping: '0.5'
    }
    Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
  }
</script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="{% static 'assets/js/argon-dashboard.min.js' %}"></script>
<script src="{% static 'medicalassets/js/jquery.min.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery-migrate-3.0.1.min.js' %} "></script>
<script src="{% static 'medicalassets/js/popper.min.js' %} "></script>
<script src="{% static 'medicalassets/js/bootstrap.min.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery.easing.1.3.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery.waypoints.min.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery.stellar.min.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery.animateNumber.min.js' %} "></script>
<script src="{% static 'medicalassets/js/bootstrap-datepicker.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery.timepicker.min.js' %} "></script>
<script src="{% static 'medicalassets/js/owl.carousel.min.js' %} "></script>
<script src="{% static 'medicalassets/js/jquery.magnific-popup.min.js' %} "></script>
<script src="{% static 'medicalassets/js/scrollax.min.js' %} "></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="{% static 'medicalassets/js/google-map.js' %} "></script>
<script src="{% static 'medicalassets/js/main.js' %} "></script>
  

</body>

</html>