{% extends 'base.html' %}
{% load static %}
{% block content %}
</div>
<div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item "><a href="{% url 'home' %}" class="nav-link">Home</a></li>
      <li class="nav-item "><a href="{% url 'store' %}" class="nav-link">Store المتجر</a></li>
      <li class="nav-item active"><a href="{% url 'about' %}" class="nav-link">About</a></li>
    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
  </ul>
</div>
</div>
</nav>


<section class="hero-wrap hero-wrap-2" style="background-image: url({% static 'medicalassets/images/bg2.jpg' %});" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-end">
        <div class="col-md-9 ftco-animate pb-5">
            <p class="breadcrumbs mb-2"><span class="mr-2"><a href="{% url 'home' %}">Home <i class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span></p>
          <h1 class="mb-0 bread">About Us</h1>
        </div>
      </div>
    </div>
  </section>

     
  <section class="ftco-section ftco-no-pt ftco-no-pb">
      <div class="container">
          <div class="row d-flex no-gutters">
              <div class="col-md-6 d-flex order-md-last">
                  <div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="background-image:url({% static 'medicalassets/images/about.jpg' %});">
                      <a href="https://www.youtube.com/watch?v=_RHIECWv728" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
                          <span class="fa fa-play"></span>
                      </a>
                  </div>
              </div>
              <div class="col-md-6 pr-md-5 py-md-5">
                  <div class="row justify-content-start py-5">
                <div class="col-md-12 heading-section ftco-animate">
                    <span class="subheading">Welcome to Chiropractic</span>
                  <h2 class="mb-4">About Chiropractic</h2>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
              </div>
                      <div class="row ftco-counter pb-5" id="section-counter">
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18">
                    <div class="text">
                      <strong class="number" data-number="45">0</strong>
                    </div>
                    <div class="text">
                        <span>Years of <br>Experienced</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18">
                    <div class="text">
                      <strong class="number" data-number="2342">0</strong>
                    </div>
                    <div class="text">
                        <span>Happy <br>Customers</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
                  <div class="block-18">
                    <div class="text">
                      <strong class="number" data-number="30">0</strong>
                    </div>
                    <div class="text">
                        <span>Award <br>Winning</span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      </div>
  </section>

  <section class="ftco-section">
      <div class="container">
          <div class="row">
              <div class="col-md-8">
                  <h4>Chiropractic History</h4>
                  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos dignissimos magni tempora adipisci aliquam labore, consequuntur tenetur alias fugiat reiciendis eius omnis ea blanditiis temporibus rerum laborum nostrum, vel dolores!</p>
              </div>
          </div>
      </div>
  </section>


{% endblock %}