{% extends 'base.html' %}
{% load static %}
{% block content %}
</div>
<div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
      <li class="nav-item "><a href="{% url 'store' %}" class="nav-link">Products المتجر</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
    <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
  </ul>
</div>
</div>
</nav>

{% if messages %}

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<script>
    $(document).ready(function(){
        $("#staticBackdrop").modal('show');
    });
</script>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Your Request طلبك</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {% include 'includes/alert.html' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><a class="text-light"  href="{% url 'home' %}">Close</a></button>
        <button type="button" class="btn btn-secondary" ><a class="text-light"  href="{% url 'about' %}">About US</a></button>
      </div>
    </div>
  </div>
</div>
{% endif %}


<div class="hero-wrap">

	<div class="home-slider owl-carousel">
		{% for slide in home_slides %}
		<div class="slider-item" style="background-image:url({{slide.slide_image.url}});">
	    <div class="overlay"></div>
	        <div class="container">
	        <div class="row no-gutters slider-text align-items-center justify-content-end">
		        <div class="col-md-6 ftco-animate">
		        <div class="text w-100">
			            <h1 class="mb-4">{{slide.title}}</h1>
                        <p class="fs-1">{{slide.description}}</p>
                    <p><a href="{% url 'store' %}" class="btn btn-info">تصفح المنتجات / Browse Products</a></p>
		      	</div>
			  </div>
			</div>
		</div>
	  </div>
	  {% endfor %}
</div> 
  </div>

	  <section class="ftco-appointment ftco-section ftco-no-pt ftco-no-pb">
			<div class="overlay"></div>
    	<div class="container">
    		<div class="row d-md-flex justify-content-center">
    			<div class="col-md-12">
	    			<div class="wrap-appointment d-md-flex">
		    			<div class="col-md-8 bg-primary p-5 heading-section heading-section-white">
		    				<span class="subheading">Booking an Appointment ؟</span>
		    				<h2 class="mb-4">تواصل معنا احجز الأن</h2>
		    				<form method="POST" class="appointment">
								{% csrf_token %}
								{% if form.errors %}
								{% for field in form %}
									{% for error in field.errors %} 
									<div class="alert alert-danger">
											<strong>{{ error|escape }}</strong> {{field.name}}
									</div>
									{% endfor %}
								{% endfor %}
							{% endif %}
		    					<div class="row justify-content-center">
									
										<div class="col-md-6">
											<div class="form-group">
												{{form.full_name}}
											</div>
										</div>
										
										<div class="col-md-6">
											<div class="form-group">
												{{form.phone_number}}
					            </div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												{{form.email}}
											</div>
										</div>
										
									
										
										<div class="col-md-6">
											<div class="form-group">
					    					<div class="input-wrap">
					            		<div class="icon"><span class="fa fa-calendar"></span></div>
					            		<input type="text" class="form-control appointment_date" placeholder="Date">
				            		</div>
					    				</div>
										</div>
									

										<div class="col-xl-8 col-lg-8 col-md-7">
											<div class="form-group">
												{{form.note}}
					            </div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
					              <input type="submit" value="Send message" class="btn btn-info py-3 px-4">
					            </div>
										</div>
		    					</div>
			          </form>
		    			</div>
		    			<div class="col-md-4 bg-white text-center p-5">
		    				<div class="desc border-bottom pb-4">
		    					<h2>Business Hours</h2>
			              <div class="opening-hours">
			              	<h4>Opening Days:</h4>
			              	<p class="pl-3">
			              		<span><strong>Sunday – Thursday:</strong> 8:30am to 3 pm</span>
			              	</p>
			              	<h4>Vacations:</h4>
			              	<p class="pl-3">
			              		<span>Friday and Saturday </span>
			              		<span>All Official Holidays</span>
			              	</p>
			              </div>
		    				</div>
								<div class="desc pt-4 ">
									<h3 class="heading">For Emergency Cases</h3>
									<span class="phone">(+01) 123 456 7890</span>
								</div>
		    			</div>
		    		</div>
		    	</div>
    		</div>
    	</div>
    </section>

    <section class="ftco-section">
    	
    </section>

    <section class="ftco-section ftco-no-pb ftco-no-pt">
			<div class="container-fluid px-md-0">
				<div class="row no-gutters justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section text-center ftco-animate">
          	<span class="subheading">Available &amp; Products</span>
            <h2>Our Products / منجاتنا</h2>
          </div>
        </div>

				<div class="row no-gutters">
					{% for product in products %}
					<div class="col-md-4 col-lg ftco-animate d-flex">
						<div class="staff bg-primary">
							<div class="img-wrap d-flex align-items-stretch">
								
								<div class="img align-self-stretch" style="background-image: url({{product.images.url}});"></div>
							</div>
							<div class="text pt-3 px-3 pb-4 text-center">
								<a href="{{product.get_url}}">
								<h3>{{product.product_name_in_inglish}}</h3>
							</a>
							<a href="{{product.get_url}}">
								<span class="position mb-2">{{product.product_name_in_arabic}}</span>
							</a>
								<div class="faded">
									<!-- <p>I am an ambitious workaholic, but apart from that, pretty simple person.</p> -->
									<ul class="ftco-social text-center">
										<p><a href="{% url 'store' %}" class="btn btn-info">تصفح المنتجات / Browse Products</a></p>
										
									</ul>
	              				</div>
							</div>
						</div>
					</div>
					{% endfor %}

				</div>
			</div>
			
		</section>
   	
    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-6 d-flex order-md-last">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center mb-4 mb-sm-0" style="background-image:url({% static 'medicalassets/images/logo.jpg' %});">
    					<a href="https://www.youtube.com/watch?v=LG1HD6k_iIg" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
    						<span class="fa fa-play"></span>
    					</a>
    				</div>
    			</div>
    			<div class="col-md-6 pr-md-5 py-md-5">
    				<div class="row justify-content-start py-5">
		          <div class="col-md-12 heading-section ftco-animate">
		          	<span class="subheading">المركز الكيميائي الاستشاري العربي </span>
		            <h2 class="mb-4">Arabic Chemical Consulting Center</h2>
		            <p>إستمراا للنجاح المعروف لدينا فى وقت قياسى نملك أكبر سابقة أعمال المعتمدة لدى عملائنا سواء القطاع الخاص أو الحكومة لدينا تركيبات بتنقية خاصة المعروفة لتقديم أعلى المستويات التركيبات والجودة  بشركة المركز الكيماءى  الاستشارى العربى</p>
		          </div>
		        </div>
						<div class="row ftco-counter pb-5" id="section-counter">
		          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="45">0</strong>
		              </div>
		              <div class="text">
		              	<span>Years of <br>Experienced</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="2342">0</strong>
		              </div>
		              <div class="text">
		              	<span>Happy <br>Customers</span>
		              </div>
		            </div>
		          </div>
		          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
		            <div class="block-18">
		              <div class="text">
		                <strong class="number" data-number="30">0</strong>
		              </div>
		              <div class="text">
		              	<span>Award <br>Winning</span>
		              </div>
		            </div>
		          </div>
		        </div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section testimony-section bg-dark">
      <div class="container">
        <div class="row justify-content-center pb-5 mb-3">
          <div class="col-md-7 heading-section heading-section-white text-center ftco-animate">
          	<span class="subheading">Arabic Chemical Consulting Center</span>
            <h2> Feedbacks</h2>
          </div>
        </div>

        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
				{% for review in home_reviews %}
              <div class="item">
                <div class="testimony-wrap py-4">
                	<div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-quote-left"></span></div>
                  <div class="text">
                    <p class="mb-4">{{review.description}}</p>
                    <div class="d-flex align-items-center">
                    	<div class="user-img" style="background-image: url({% static 'medicalassets/images/person_1.jpg' %})"></div>
                    	<div class="pl-3">
		                    <p class="name">{{review.full_name}}</p>
		                    <span class="position">{{review.department}}</span>
		                  </div>
	                  </div>
                  </div>
                </div>
              </div>
			  {% endfor %}

       
         

            </div>
          </div>
        </div>
      </div>
    </section>
		

{% endblock  %}