{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block content %}

</div>
<div class="collapse navbar-collapse" id="ftco-nav">
    
  <ul class="navbar-nav mr-auto">
      <li class="nav-item "><a href="{% url 'home' %}" class="nav-link">Home</a></li>
      <li class="nav-item active"><a href="{% url 'store' %}" class="nav-link">Store المتجر</a></li>
      <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
    <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
  </ul>
  
</div>

</div>

</nav>
<section class="ftco-section">

<div class="sidebar-box">
    <form  method='GET'  class="search-form">
      <div class="form-group">
        <span class="fa fa-search"></span>
        <input type="text" class="form-control" name="keyword" placeholder="Type a keyword and hit enter" required>
      </div>
      
        <button type="submit" class="btn btn-primary">Search  </button>

    </form>
  </div>

</section>
       

{% if products %}

<section class="ftco-section">
    <div class="container">
      <div class="row">
        <div class="sidebar-box ftco-animate">
            <div class="categories">
              <h3>Category / الأقسام</h3>
              {% for cat_link in links %}
              <li><a href="{{cat_link.get_url}}">{{cat_link.category_name_inenglish}}    {{cat_link.category_name_inarabic}}<span class="fa fa-chevron-right"></span></a></li>
              {% endfor %}
            </div>
          </div>

        {% for product in products %}

        <div class="col-md-4 d-flex ftco-animate">
          <div class="blog-entry align-self-stretch">
            <a href="blog-single.html" class="block-20 rounded" style="background-image: url({{product.images.url}});">
            </a>
            <div class="text mt-3">
                <div class="posted mb-3 d-flex">
                    <div class="img author" style="background-image: url({% static 'medicalassets/images/logo.jpg' %} );"></div>
                    <div class="desc pl-3">
                        <span>Arabic Chemical Consulting Center</span>
                        <span>{{product.created_date|naturaltime}}</span>
                    </div>
                </div>
              <h3 class="heading"><a href="#">{{product.product_name_in_inglish}} / {{product.product_name_in_arabic}}</a></h3>
              <p>{{product.description}}</p>

              <h3 class="mb-0 font-weight-semibold">£{{product.price}} السعر</h3>
              <p class="text-muted">جنيه مصري</p> 

              <p><a href="{{product.get_url}}" class="btn btn-primary">Order Now / اطلب الأن</a></p>
            </div>
          </div>
        </div>
        {% endfor %}
    

        </div>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">    
            <ul>
                {% if products.has_previous %}                
                <li><a href="?page={{products.previous_page_number}}">&lt;</a></li>
                {% endif %}
                
			{% for i in products.paginator.page_range %}
            {% if products.number == i %}
            <li class="active"><span>{{i}} </span></li>
            {% else %}
            <li><a href="?page={{i}}">{{i}}</a></li>
            {% endif %}
            {% endfor %}
            
			{% if products.has_next %}
            <li><a href="?page={{products.next_page_number}}">&gt;</a></li>

			{% endif %}
          
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

              
                {% else %}
                
                <div class="container mt-5">
                    <div class="card text-center">
                        <div class="card-header">
                          Oops! No products for this Category  
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">لا يوجد منجات في هذا القسم حاليا</h5>
                          <a href="{% url 'store' %}" class="btn btn-primary">Store</a>
                        </div>
                        <div class="card-footer text-muted">
                          Arabic Chemstry Lab
                        </div>
                      </div>
                </div>
                {% endif %}
                
  

<section class="ftco-section">

 
</section>


{% endblock content %}